@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  font-family: "Indie Flower", cursive;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: black;
}

button {
  border: 1px solid rgb(73, 126, 134);
  padding: 0.2rem 0.4rem;
  transition: all 0.3s ease;
  margin-left: auto;
}

button:hover {
  background-color: rgb(73, 126, 134);
  color: rgb(73, 126, 134);
}

table,
th,
td {
  border: 1px solid rgb(73, 126, 134);
}